.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  position: relative;
  max-height: 90vh; /* Ensures modal is scrollable */
  overflow-y: auto; /* Enables scrolling if content exceeds height */
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input[type="text"], input[type="number"], input[type="date"], select, textarea {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

textarea {
  resize: vertical;
}

.btn-submit {
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.btn-close {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.btn-close:hover {
  background-color: darkred;
}

.photo-preview img {
  max-width: 100%;
  margin-top: 10px;
}

.camera {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-camera, .btn-capture, .btn-cancel {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
}

.camera-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.btn-capture {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.btn-cancel {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.btn-capture:hover,
.btn-cancel:hover {
  opacity: 0.8;
}
